.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.authInput {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  margin-top: 10px;
  padding: 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.buttonContainer {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.google_button {
  width: 100%;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.authrequest {
  width: 100%;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.forgotpassword {
  width: 100%;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  margin-bottom: 10px;
}
